.container{
  width: 1460px;
  padding: 20px;
  margin: 0 auto;
}

body{
  font-family:sans-serif ;
  background: #F7F8FC;
}

.list{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 56px;
  width: 1122px;
  margin-left: auto;
  margin-bottom: 30px;
}

.cover{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 1122px;
  margin-left: auto;
}

.bigbox{
  display: flex;
  justify-content: space-around;
}

.left__box{
  padding-top: 40px;
  background: #363740;
}

